! XTerm

XTerm*faceName:          MesloLGS NF
XTerm*faceSize:          11



!UXTerm
UXTerm*faceName: MesloLGS NF
UXTerm*faceSize: 10
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          512
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          true
UXTerm*rightScrollBar:     true
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false


